$color-principal: #fff;
$color-opcion:gray;
$color-secundario:black;
$color-suave: #EEEFF0;
$gris-suave: #D1D2D3;




*{
    padding:0;
    margin: 0;
    box-sizing:border-box; 
}
html{
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    .header_input_vacio-mobile{
        display:none;
    }
    img{
        width: 30%;
    }
    .header-titulo{
        display:inline-flex;
        padding-left: 15px;
        span{
            
            vertical-align:top;
            padding-top: 2%;
            font-size: .6rem;
        }
    }
    .header_iconos-pc{
        display:none;
    }
    .header_contenido_vacio-mobile{
        text-align:right;
        #texto_header{
            display: none;
        }
        
        img{
            width:20px;
        }
    }
    .header-gmail{
        text-align: right;
        padding-right: 10px;
        img{
            border-radius: 40px;
            width:25px;
        }
    }
}




main{
    padding-top: 15px;
    img{
        width:100%;
    }
    .main_father-big_container{
        .main_father_interno1{
            display: none;
        }
    }
    .main_div-listaVertical{
        ul{
            overflow-x:auto;
            overflow-y: hidden;
            height: 50px;
            white-space:nowrap;
            padding-left: 15px;
            padding-right: 15px;
            scrollbar-width: none;
            
            li{
                width:135px;
                display:inline-block;
                text-align:center;
                padding:6px;
                border: 1px solid $gris-suave;
                background-color: $color-suave;
                border-radius:25px;

            }
            .li-cortos{
                width:77px;
            }

            li:active{
                background-color: $color-opcion;
                color:$color-principal;
            }
        }
    }
    .section-inicio-videos{
        padding-top: 20px;
        .imagen1{
            background-image: url(../asstes/imagenes/primero.png);
            background-repeat:no-repeat;
            background-size: cover;
            margin: 0 auto;
            height:250px;
            max-width: 450px;
            .interno-imagen{
                display:flex;
                justify-content: center;
                align-items: flex-end;
                background-color:rgba(89, 64, 55, 0.8); 
                position: relative;
                top:224px;
                height:25px;
                img{
                    width:20px;
                    margin-top: 50%;
                }
            }
        }
    }
    .interno-sectionVideos{
        display:grid;
        grid-template-columns: 90% auto;
        align-items:center;
        max-width: 450px;
        margin: 0 auto;
        padding-top: 10px;
        .interno_videos1{
            text-align:left;
            padding-left: 12px;
            font-size: .8rem;
            line-height: 1.5rem;
            .p2{
                opacity: .75;
            }
        }
        .interno_videos2{
            width:6px;
        }
    }
    .section_2do-video{
        padding-top: 20px;
        .imagen2{
            background-image: url(../asstes/imagenes/segundo.webp);
            background-repeat:no-repeat;
            background-size: cover;
            margin: 0 auto;
            height:250px;
            max-width: 400px;

        }
        .interno-sectionVideos2{
            display:grid;
            grid-template-columns: 20% 76% 4%;
            align-items:center;
            max-width: 450px;
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 20px;
            .div_falcon{
                margin: 5px auto;
                .falcon-img{
                    width:45px;
                    border-radius:50%;
                }
            }
            .interno_videos2-1{
                width: 90%;
                margin: 0 auto;
                font-size: .75rem;
                line-height: 1rem;
            }
            .ultimo{
                .puntos1{
                    width:5px;
                }
            }
        }
    }
    .section_3do-video{
        @extend .section_2do-video;
        padding-top: 0px;
        .imagen3{
            @extend .imagen2;
            background-image:url(../asstes/imagenes/tercero.webp);
        }
        .interno-sectionVideos3{
            @extend .interno-sectionVideos2;
        }
        .div33{
            @extend .div_falcon;
            img{
                @extend .falcon-img;
            }
        }
        .interno_videos3-1{
            @extend .interno_videos2-1;
        }
        .ultimo2{
            @extend .ultimo;
            .puntos2{
                @extend .puntos1;
            }
        }
    }
    .section_4do-video{
        @extend .section_2do-video;
        .imagen4{
            @extend .imagen2;
            background-image:url(../asstes/imagenes/cuarto.jpg);
        }
        .interno-sectionVideos4{
            @extend .interno-sectionVideos2;
        }
        .div44{
            @extend .div_falcon;
            img{
                @extend .falcon-img;
            }
        }
        .interno_videos4-1{
            @extend .interno_videos2-1;
        }
        .ultimo4{
            @extend .ultimo;
            .puntos4{
                width: 5px;
            }
        }
    }
    .section_5do-video{
        @extend .section_2do-video;
        .imagen5{
            @extend .imagen2;
            background-image:url(../asstes/imagenes/quinto.webp);
        }
        .interno-sectionVideos5{
            @extend .interno-sectionVideos2;
        }
        .div55{
            @extend .div_falcon;
            img{
                @extend .falcon-img;
            }
        }
        .interno_videos5-1{
            @extend .interno_videos2-1;
        }
        .ultimo5{
            @extend .ultimo;
            .puntos5{
                width: 5px;
            }
        }
    }
    .section_6do-video{
        @extend .section_2do-video;
        padding-bottom: 50px;
        .imagen6{
            @extend .imagen2;
            background-image:url(../asstes/imagenes/sexto.webp);
        }
        .interno-sectionVideos6{
            @extend .interno-sectionVideos2;
        }
        .div66{
            @extend .div_falcon;
            img{
                @extend .falcon-img;
            }
        }
        .interno_videos6-1{
            @extend .interno_videos2-1;
        }
        .ultimo6{
            @extend .ultimo;
            .puntos6{
                width: 5px;
            }
        }
    }
}


footer{
    display:flex;
    width:100%;
    position:fixed;
    bottom:0;
    z-index: 2;
    background: hsla(0,0%,100%,0.98);
    border-top: 1px solid rgba(0,0,0,0.1);
    div{
        width: 25%;
        text-align: center;
        padding-bottom: 2px;
        img{
            width:25%;
            height: 30px;
        }
        p{

            font-size: .8rem;

        }
    }
}

@media(min-width:375px){
    main{
        .section-inicio-videos{
            .imagen1{
                height:280px;
                .interno-imagen{
                    top:254px;
                }
            }
        }
        .section_2do-video{
            .imagen2{
                height:300px;
            max-width: 450px;
            }
        }
    }
}
@media(min-width:550px){
    main{
        .big_container{
            display:grid;
            grid-template-columns: 47.5% 47.5%;
            justify-content: center;
            gap:8px;
        }
        .section-inicio-videos{
            .imagen1{
                max-width: 315px;
                height:200px;
                .interno-imagen{
                    top:174px;
                }
            }
        }
        .section_2do-video{
            .imagen2{
                max-width: 330px;
                height:200px;
            }
        }
        .section_4do-video{
            padding-top: 0px;
        }
    }
}







@media(min-width: 640px){
    header{
        .header_contenido_vacio-mobile{
            display: inline-flex;
            justify-content: space-between;
            padding: 4px;
            border: .7px solid black;
            border-radius: 4px;
            #texto_header{
                display: block;
                outline: none;
                border: none;
                padding-left: 3px;
            }
            span{
                .search{
                    width: 15px;
                }
            }
        }
    }
    main{
        .section-inicio-videos{
            .imagen1{
                height:240px;
                .interno-imagen{
                    top:214px;
                }
            }
            .interno-sectionVideos{
                max-width:310px;
            }
        }
        .section_2do-video{
            .imagen2{
                max-width: 315px;
                height:240px;
            }
            .interno-sectionVideos2{
                max-width: 300px;
            }
        }
    }
}
@media(min-width: 840px){
    *{
        background-color: #D9DDDE;
    }
    header{
        position: fixed;
        width: 100%;
        grid-template-columns: 45% 25% auto 5%;
        z-index:999;
        border-bottom: 3px solid black;
        .header-titulo{
            img{
                filter:brightness(.85);
            }
        }
        .header_iconos-pc{
            display:grid;
            grid-template-columns:33% 33% 33%;
            justify-content: space-around;
            .containers2,.containers3,.containers4{
                text-align: center;
                .s2,.s3,.s4{
                    width: 23px;
                }
            }
        }
    }
    main{
        .main_div-listaVertical{
            position:fixed;
            width: 100%;
            z-index: 999;
            margin-top:5.5%;
            padding-top: 10px;
        }
        .main_father-big_container{
            .main_father_interno1{
                display:flex;
                flex-direction: column;
                width:18%;
                position:fixed;
                left:0;
                z-index: 2;
                margin-top:15%;
                border-right: 1px solid rgba(0,0,0,0.1);
                div{
                    margin-bottom: 50px;
                    text-align: center;
                    padding-bottom: 2px;
                    img{
                        width:22%;
                        height: 27px;
                    }
                    p{
                        padding-top:5px;
                        font-size: 1rem;

                    }
                }
            }
        }
        .big_container{
            max-width: 80%;
            margin-left: auto;
            padding-top: 150px;
        }
    }
    footer{
        display:none;
    }
}
@media(min-width:1180px){
    main{
        .big_container{
            grid-template-columns: auto auto auto;
            gap:15px;
            .section_3do-video,.section_4do-video{
                padding-top:20px;
            }
        }
    }
}